.banner {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;

    width: 100%;
}
  
  .image {
    width: 400px;
    height: auto;
    border-radius: 5px;
  }
  
 .image:hover{
    transform: translatey(-5px);
    cursor: pointer;
    transition: 0.2s;
 } 

 @media(max-width:700px){
    .banner{
        margin: auto;
        flex-wrap: wrap;
        gap: 20px;
    }
 }